body {
  background-color: #3b4a20;
}
#email{
  width: 300px;
}
#pw{
  width: 300px;
}
div.form-group{
  position: fixed;
  height: 300px;
  width: 300px;
  top: 30%;
  left: 30%;
}
input[type = "text"]{
  display: block;
  margin: 0 auto;
  top: 50%
  left:50%
}
input[type = "password"]{
  display: block;
  margin: 0 auto;
  top: 50%;
  left: 50%;
}
div.sign-in-buttons{
  position: fixed;
  height: 100px;
  width: 200px;
  top: 50%;
  left: 37%;
}
